body{
    background: #1E9600;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF0000, #FFF200, #1E9600);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF0000, #FFF200, #1E9600); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

table {
    border: 4px solid rgba(255, 255, 255, 0.356);
    background: rgba(255, 255, 255, 0.225);
    text-align: center;
    justify-content: center;
    margin-left:auto; 
    margin-right:auto;
    width: 360px;
    height: 360px;
  }
